html{
    font-size: 10px;
    font-family: 'Roboto Slab', serif;
    background-image: url(https://images.nrc.nl/j1YkrS6SqAxwV-1I-pDTPTwSE2Q=/1920x/s3/static.nrc.nl/bvhw/files/2017/04/data12352255-1266b7.jpg);
}

body {
  width: 900px;
  margin: 0 auto;
  background-color: none;
  padding: 0 20px 20px 20px;
}

h1 {
  font-size: 95px;
  text-align: center;
  margin: 0% 0;
  padding: 15% 0;    
  color: palegreen;
  text-shadow: 5px 5px 2px black;
}

p, li {
  font-size: 16px;    
  line-height: 2;
  letter-spacing: 1px;
    text-align: center;
}

img {
    
    display: block;
  margin: 0 auto;
    width: 600px;
}
